* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 50px;
}

button {
    padding: 5px 15px;
    margin-top: 10px;
    font-size: 15pt;
}

img {
    height: 300px;
    width: auto;
}

div {
    font-size: 20pt;
}

